/* Gaya ini akan digunakan bersama oleh
  instructor-create-course.html,
  instructor-edit-course.html,
  instructor-create-module.html,
  dan instructor-create-lesson.html
*/
body { 
    background-color: #f8f9fa; 
}
.panel { 
    background: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}